name: Main
on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build step
        run: deno task build

      - name: checking
        run: deno run check && deno fmt --check && deno lint

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: >-
      ((github.event_name == 'push' || github.event_name == 'pull_request') && github.ref == 'refs/heads/master')

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build step
        run: deno task build

      - name: checking
        run: deno run check && deno fmt --check && deno lint

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: 'dime-to-dozen'
          entrypoint: 'server/main.ts'
          include: |
            server
            dist
            deno.json
            deno.lock
